.page {
    background-color: rgb(0, 0, 255);
    min-height: 270px;
    width: 99.8%;
    height: 35%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading {
    color: rgb(255, 255, 255);
    font-family: 'FreeSans';
    font-size: 100px;
    position: absolute;
    left: 42%;
}

.content {
    background-color: rgba(255, 255, 255, 0.0);
    width: 480px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    left: 35%;
    top: 33%;
}

.sabutt {
    width: 60px;
    height: 60px;
    display: inline-block;
    float: left;
}

.fieldbox {
    width: 480px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 30px;
    display: inline-block;
    float: top;
}

.field {
    font-size: 20px;
    width: 396px;
    height: 60px;
    padding-left: 20px;
    border-radius: 30px;
    border: none;
    float: left;
}

::placeholder {
    color: rgb(215, 215, 215);
    font-style: italic;
    font-family: 'FreeSans';
    font-size: 20px;
}

#check {
    color: rgb(225, 225, 225);
    position: absolute;
    top: 32%;
    left: 3%;
    font-size: 20px;
    display: none;
}

.submit {
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    top: 0.8px;
    color: rgb(225, 225, 225);
    background-color: rgb(150, 150, 255);
    float: left;
    position: relative;
    left: -61px;
}

.row {
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 60px;
    font-size: 40px;
    color: rgb(200, 200, 200);
    margin-top: 20px;
    border-radius: 30px;
    list-style-type: none;
    font-family: 'FreeSans';
    box-shadow: 10px 10px 20px 0 rgb(100, 100, 100);
    position: relative;
    left: -115px;
}
.todoData {
    background-color: rgba(255, 255, 255, 0.0);
    width: 480px;
    left: 33%;
    top: 33%;
    float: top;
    border-radius: 30px;
}
.delete {
    display: block;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: rgb(225, 225, 225);
    background-color: rgb(255, 0, 0);
    float: right;
    box-shadow: 10px 10px 20px 0 rgb(100, 100, 100);
}

.container2 {
    display: inline-block;
    width: 385px;
    height: 60px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(150, 150, 150);
    border-radius: 50%;
  }
  
  .container2:hover input ~ .checkmark {
    background-color: rgb(240, 240, 255);
  }
  
  .container2 input:checked ~ .checkmark {
    background-color: rgb(250, 250, 255);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container2 input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container2 .checkmark:after {
    left: 11px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid rgb(100, 100, 100);
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 .text {
     color: rgb(100, 100, 100);
     text-decoration: none;
     position: relative;
     left: 15px;
     top: 2px
 }
 .textc {
    color: rgb(150, 150, 150);
    text-decoration: line-through;
    position: relative;
    left: 15px;
    top: 2px
}

li.row:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

li.row:nth-child(odd) {
    background-color: rgb(230, 230, 255);
    
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}